@import "tailwindcss";

@theme {
  /* Colors */
  --color-purple: #6100c2;
  --color-light-purple: #7900c2;
  --color-gray: #969696;
}

@utility dark-gradient {
  background: linear-gradient(180deg, #37312a 49%, #191817 95%, #191817 100%);
}

@utility glass-blur-gradient {
  background: linear-gradient(
    rgba(255, 255, 255, 0.62),
    rgba(255, 255, 255, 0.78)
  );
  backdrop-filter: blur(10px);
}

@utility dark-angular-gradient {
  background: linear-gradient(
    90deg,
    #6100c2 1%,
    #191817 3%,
    #191817 97%,
    #6100c2 99%
  );
}

@layer base {
  * {
    font-family: "Outfit", sans-serif;
  }
  body {
    color: #ffffff;
  }
  .error {
    @apply fixed left-1/2 -translate-x-1/2 max-w-3xl w-4/5 
         text-center text-red-600 bg-red-200 py-2 z-50 
         rounded-lg opacity-0 transition-all duration-500;
    top: -4rem;
  }
  .error.show {
    opacity: 1;
    top: 1rem;
  }
  .error.hide {
    opacity: 0;
    top: -4rem;
  }
}
