<header style="display: flex; justify-content: space-between; padding: 1rem;">
    <a href="/" class="text-2xl font-bold">
        <img src="/wdd330-final-project/assets/logo.svg" alt="Logo">
    </a>

    <nav>
        <ul style="display: flex; gap: 1rem;">
            <li><a href="/wdd330-final-project">Home</a></li>
            <li><a href="/wdd330-final-project/watchlist/">Watchlist</a></li>
            <li><a href="/wdd330-final-project/search/">Search</a></li>
        </ul>
    </nav>
</header>